.content__wrapper {
    overflow: hidden;
    height: 100%;
    img {
        height: 12em;
        width: 90%;
        margin: 10px auto;
        display: block;
    }

    .content__body {
        margin: 10px;
        word-wrap: break-word;

        &--title {
            text-align: center;
        }

        &--details {
            &:hover, &:focus {
                visibility: visible;
            }
            &--tags {
                overflow: auto;
                max-height: 6rem;
                &--tag {
                    margin-left: 10px;
                    object-fit: cover;
                }
            }
        }
    }
}