.content__wrapper {
    img {
        height: 12em;
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .tag {
        margin-left: 10px;
        object-fit: cover;
    }

    .content__body {

        margin: 10px;
        word-wrap: break-word;

        &--title {
            text-align: center;
        }

        &--details {
            width: 20em;
            height: 10em;
            overflow: auto;
            margin: 0 auto;

            &:hover, &:focus {
                visibility: visible;
            }
        }
    }
}