<div class="content__wrapper">
    <div class="content">
        <div class="content__image">
            <img [src]="item.media.m" [alt]="item.title">
        </div>
        <div class="content__body">
            <h3 class="content__body--title">
                <a [attr.href]="item.link" [innerHtml]="item.title" target="_blank"></a> by
                <a [attr.href]="getAuthorProfileLink()" [innerHtml]="getAuthorName()" target="_blank"></a>
            </h3>
            <div class="content__body--details grid">
                <div class="content__body--details--description">
                    <strong> Description </strong>{{ getStrippedDescription() | slice:0:100 }} ...
                    <app-overlay [overlayId]="getPopUpId(item.author_id)" [description]="item.description" ></app-overlay>
                </div>
                <div class="content__body--details--tags">
                    <b> Tags </b> <a class="content__body--details--tags--tag" [href]="getTagLink(tag)" [innerHtml]="tag" target="_blank" *ngFor="let tag of tagList(); let last = last"></a>
                </div>
            </div>
        </div>
    </div>
</div>
